{% extends 'layouts/base.html' %}

{% block title %} API Sample {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">

        <div class="col-lg-12 mb-lg-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
                <div class="col-12">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between pb-0">
                      <h6>Products</h6>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">New</button>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                      <div class="table-responsive p-0">
                        <table id="products-table" class="table align-items-center mb-0">
                          <thead>
                            <tr>
                              <th class="text-center text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
                              <th class="text-center text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                              <th class="text-center text-secondary text-xxs font-weight-bolder opacity-7">Price</th>
                                <th class="text-center text-secondary text-xxs font-weight-bolder opacity-7">Currency</th>
                                <th class="text-center text-secondary text-xxs font-weight-bolder opacity-7">Payment</th>
                                <th class="text-center text-secondary text-xxs font-weight-bolder opacity-7">Stripe Product Id</th>
                                <th class="text-center text-secondary text-xxs font-weight-bolder opacity-7">Stripe Price Id</th>
                                <th class="text-center text-secondary text-xxs font-weight-bolder opacity-7">Info</th>
                                <th class="text-center text-secondary text-xxs font-weight-bolder opacity-7">Full Description</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for product in products %}
                            <tr>
                              <td class="text-center"> {{ product.id }} </td>
                              <td class="text-center"> {{ product.name }} </td>
                              <td class="text-center"> {{ product.price }} </td>
                              <td class="text-center"> {{ product.currency }} </td>
                              <td class="text-center"> {{ product.payment }} </td>
                              <td class="text-center"> {{ product.stripe_product_id }} </td>
                              <td class="text-center"> {{ product.stripe_price_id }} </td>
                              <td class="text-center"> {{ product.info }} </td>
                              <td class="text-center"> {{ product.full_description }} </td>
                              <td class="align-middle">
                                <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                    <i id="edit-item" data-bs-toggle="modal" data-bs-target="#updateModal"
                                       data-product-id="{{ product.id }}" class="fa fa-edit"></i>
                                </a>
                                <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                    <i id="delete-item" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                       data-product-id="{{ product.id }}" class="text-danger fa fa-trash-o"></i>
                                </a>
                              </td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

    </div>

        {% include "includes/footer.html" %}
    </div>

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form id="update-form" method="post">{% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
          <div class="modal-body">

              <label>Name</label>
              <div class="mb-3">
                <input name="name" class="form-control" id="name"/>
              </div>
              <span class="text-danger">{{ form.name.errors }}</span>

              <label>Price</label>
              <div class="mb-3">
                <input name="price" class="form-control" id="price"/>
              </div>
              <span class="text-danger">{{ form.price.errors }}</span>

              <label>Currency</label>
              <div class="mb-3">
                <select name="currency" class="form-control" id="currency">
                  <option value="USD" selected="">USA Dollar</option>
                </select>
              </div>
              <span class="text-danger">{{ form.currency.errors }}</span>

              <label>Payment</label>
              <div class="mb-3">
                <select name="payment" class="form-control" id="payment">
                  <option value="0" selected="">One Time</option>
                  <option value="1">Monthly Frequency</option>
                </select>
              </div>
              <span class="text-danger">{{ form.payment.errors }}</span>

              <label>Stripe Product Id</label>
              <div class="mb-3">
                <input name="stripe_product_id" class="form-control" id="stripe_product_id"/>
              </div>
              <span class="text-danger">{{ form.strip_product_id.errors }}</span>

              <label>Stripe Price Id</label>
              <div class="mb-3">
                <input name="stripe_price_id" class="form-control" id="stripe_price_id"/>
              </div>
              <span class="text-danger">{{ form.stripe_price_id.errors }}</span>

              <label>Info</label>
              <div class="mb-3">
                <textarea name="info" cols="40" rows="10" class="form-control" required="" id="info"></textarea>
              </div>
              <span class="text-danger">{{ form.info.errors }}</span>

              <label>Full Description</label>
              <div class="mb-3">
                <textarea name="full_description" cols="40" rows="10" class="form-control" required="" id="full_description"></textarea>
              </div>
              <span class="text-danger">{{ form.full_description.errors }}</span>
        </div>

       <p class="text-danger" id="edit-error"></p>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Save changes">
      </div>
    </form>
    </div>
  </div>
</div>


<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form id="create-form" method="post">{% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
           <div class="modal-body">

              <label>Name</label>
              <div class="mb-3">
                <input name="name" class="form-control" id="name"/>
              </div>
              <span class="text-danger">{{ form.name.errors }}</span>

              <label>Price</label>
              <div class="mb-3">
                <input name="price" class="form-control" id="price"/>
              </div>
              <span class="text-danger">{{ form.price.errors }}</span>

              <label>Currency</label>
              <div class="mb-3">
                <select name="currency" class="form-control" id="currency">
                  <option value="USD" selected="">USA Dollar</option>
                </select>
              </div>
              <span class="text-danger">{{ form.currency.errors }}</span>

              <label>Payment</label>
              <div class="mb-3">
                <select name="payment" class="form-control" id="payment">
                  <option value="0" selected="">One Time</option>
                  <option value="1">Monthly Frequency</option>
                </select>
              </div>
              <span class="text-danger">{{ form.payment.errors }}</span>

              <label>Stripe Product Id</label>
              <div class="mb-3">
                <input name="stripe_product_id" class="form-control" id="stripe_product_id"/>
              </div>
              <span class="text-danger">{{ form.strip_product_id.errors }}</span>

              <label>Stripe Price Id</label>
              <div class="mb-3">
                <input name="stripe_price_id" class="form-control" id="stripe_price_id"/>
              </div>
              <span class="text-danger">{{ form.stripe_price_id.errors }}</span>

              <label>Info</label>
              <div class="mb-3">
                <textarea name="info" cols="40" rows="10" class="form-control" required="" id="info"></textarea>
              </div>
              <span class="text-danger">{{ form.info.errors }}</span>

              <label>Full Description</label>
              <div class="mb-3">
                <textarea name="full_description" cols="40" rows="10" class="form-control" required="" id="full_description"></textarea>
              </div>
              <span class="text-danger">{{ form.full_description.errors }}</span>
        </div>

          <p class="text-danger" id="create-error"></p>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Save changes">
      </div>
    </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form id="delete-form">{% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
          <div class="modal-body">
              <p>Are you sure?</p>
              <p class="text-danger" id="delete-error"></p>
          </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Confirm">
      </div>
    </form>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}
    <script>

        const data = [
            {% for product in products %}
                {'id': '{{ product.id }}',
                'name': '{{ product.name }}',
                'currency': '{{ product.currency }}' ,
                'payment': '{{ product.payment }}' ,
                'price': '{{ product.price }}' ,
                'stripe_product_id': '{{ product.stripe_product_id }}' ,
                'stripe_price_id': '{{ product.stripe_price_id }}' ,
                'info': '{{ product.info }}' ,
                'full_description': '{{ product.full_description }}' },
            {% endfor %}
        ]

        let deleteId = ''
        let editId = ''
        document.getElementById('products-table').onclick = (e) => {
            if (e.target.id === 'delete-item')
                 deleteId = e.target.getAttribute("data-product-id")
            else if (e.target.id === 'edit-item') {
                editId = e.target.getAttribute("data-product-id")
                setEditFormValues(editId)
            }
        }

        const setEditFormValues = (id) => {
            const rowData = data.filter((item) => item.id === id )[0]
            Object.keys(rowData).map((key) => {
                if (key !== 'id')
                    document.getElementById(key).value = rowData[key]
            })
        }

        document.getElementById('delete-form').onsubmit = (e) => {
            e.preventDefault()
            const formData = new FormData(e.target)

            fetch(`/ecommerce/products/${deleteId}/`,{
                method: 'DELETE',
                headers: {"X-CSRFToken": formData.get("csrfmiddlewaretoken")}
            })
                .then((response) => {
                    if(!response.ok)
                        return response.text().then(text => { throw new Error(text) })
                    else
                        return response.json()
                })
                .then((res) => {
                    console.log(res)
                    location.reload()
                })
                .catch((err) => {
                    document.getElementById('delete-error').textContent = err
                })
        }

        document.getElementById('update-form').onsubmit = (e) => {
            e.preventDefault()
            const formData = new FormData(e.target)
            const data = {}
            formData.forEach((value , key) => {
                data[key] = value
            })
            fetch(`/ecommerce/products/${editId}/`, {
                method: 'PUT',
                body: JSON.stringify(data),
                headers: {
                    "X-CSRFToken": formData.get("csrfmiddlewaretoken"),
                    "Content-Type": 'application/json'
                }
            })
                .then((response) => {
                    if(!response.ok)
                        return response.text().then(text => { throw new Error(text) })
                    else
                        return response.text()
                })
                .then((res) => {
                    console.log(res)
                    location.reload()
                })
                .catch((err) => {
                    document.getElementById('edit-error').textContent = err
                })
        }

        document.getElementById('create-form').onsubmit = (e) => {
            e.preventDefault()
            const formData = new FormData(e.target)

            fetch(`/ecommerce/products/`, {
                method: 'POST',
                body: formData,
                headers: {
                    "X-CSRFToken": formData.get("csrfmiddlewaretoken")
                }
            })
                .then((response) => {
                    if(!response.ok)
                        return response.text().then(text => { throw new Error(text) })
                    else
                        return response.text()
                })
                .then((res) => {
                    console.log(res)
                    location.reload()
                })
                .catch((err) => {
                    document.getElementById('create-error').textContent = err
                })
        }
    </script>
{% endblock javascripts %}